@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');




::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    width: 8px;
    border-radius: 20px;
    background: linear-gradient(120deg, hsl(260, 82%, 56%) 0%, #881e77 51%, #e000f0 100%);
}
@media (min-width:1920px) {
    .logo-container {
        margin-bottom: 50% !important;
        transition: 300ms;
    }

    .logo-container>img {
        width: 50% !important;
    }

    .container_login {
        width: 15%;
    }

}

@media (min-width:2500px) {
    .logo-container {
        margin-bottom: 60% !important;
        transition: 300ms;
    }

    .logo-container>img {
        width: 60% !important;
        max-height: 1200px;
        transition: 300ms;
    }

    .product-description p {
        font-size: 1.5em;
    }

    .product-description span {
        font-size: 1.5em;
    }

    .product-description>span span {
        font-size: 24px !important;
    }

    .container_login {
        width: 15%;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden !important;
    background-color: #E1E1E1;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    background-color: black;
}

a {
    text-decoration: none;
    color: currentColor;
}

.topbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar-menu ul {
    list-style: none;
    display: flex;
    color: white;
}

.topbar-menu>ul li a {
    margin-left: .75vw;
    margin-right: .75vw;
    transition: 0.25s;
}

.logo-text>span {
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
    color: white;
    user-select: none;
    -webkit-user-select: none;
    transition: 500ms;
    position: relative;
    background: rgb(112, 52, 235);
    background: linear-gradient(120deg, hsl(260, 82%, 56%) 0%, #881e77 51%, #e000f0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveGradient 2s linear infinite;
    transition: animation-duration 0.3s;
}

.logo-text>span:hover {
    animation-duration: 5s;
}

.topbar-menu>ul>li a:hover {
    color: rgba(112, 52, 235, 1);
}

#selected-page-top-bar {
    color: rgba(112, 52, 235, 1);
}

.pd_3 {
    padding: 1.5rem !important;
}

.newsection {
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin-top: 7.5vh;
}

.div-topbar-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-topbar-icons nav {
    margin-left: .5vw;
    margin-right: .5vw;
}

.div-topbar-icons>nav svg:hover {
    fill: rgba(112, 52, 235, 1);
    transition: 0.25s;
}

.section-banner {
    position: relative;
}

._container_write_text {
    position: absolute;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#container {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    display: block;
    user-select: none;
    -webkit-user-select: none;
}

#flip {
    height: 50px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    height: 45px;
    margin-bottom: 45px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #e10606;
}

#flip div:first-child div {
    background: #000530;
}

#flip div:last-child div {
    background: #e0b106;
    margin-bottom: -2px;
}

#container article:first-child {
    display: inline-block;
    background: rgb(112, 52, 235);
    background: linear-gradient(-90deg, rgb(65, 0, 196) 0%, rgb(8, 52, 162) 100%);
    margin-bottom: 5px;
}

#container article:last-child {
    display: inline-block;
    background: rgb(112, 52, 235);
    background: linear-gradient(-90deg, rgb(65, 0, 196) 0%, rgb(8, 52, 162) 100%);
}

.img-banner {
    width: 100%;
    max-height: 800px;
    min-height: 800px;
    opacity: 1;
    filter: grayscale(1.2) brightness(90%);
}

.img_identifier_login_register_page {
    margin-top: 3.5vh;
    margin-bottom: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.noopacity {
    opacity: 0 !important;
}

.search-bar {
    width: 75%;
    padding: 1.75rem !important;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    margin: 0 auto;
    position: relative;
    margin-top: -7.5%;
    z-index: 100;
}

.select_esportivos {
    position: relative;
    cursor: pointer;
}

.select_esportivos::after {
    content: '';
    width: 55px;
    height: 3px;
    border-radius: 30px;
    top: 100%;
    left: 50%;
    background-color: rgb(112, 52, 235);
    position: absolute;
    margin-top: .5vh;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 500ms;
}

.select_esportivos.selected::after {
    opacity: 1;
}

.format-pd_y-camp-text {
    padding: 1.5rem;
    border: 1px solid #737373 !important;
    width: 100%;
    border-radius: 20px;
    font-size: 20px;
}

.button-search-bar {
    text-align: center;
    line-height: 1.5rem;
    font-family: 'Moul', cursive;
    border-radius: 20px;
    font-size: 1.5em;
    color: white;
    padding: 1.5rem;
    background: rgb(112, 52, 235);
    background: linear-gradient(-90deg, rgb(71, 22, 169) 0%, rgba(86, 124, 221, 1) 100%);
    width: 85%;
    cursor: pointer;
    transition: 0.5s;
}

.button-search-bar:hover {
    background: rgb(112, 52, 235);
    background: linear-gradient(-90deg, rgb(85, 5, 246) 0%, rgb(3, 41, 140) 100%);
    transition: 300ms;
}

.father-div-button-offerts {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.ul_selecter_search_bar {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
}

.ul_selecter_search_bar li {
    list-style-type: none;
    margin-left: 2vw;
    margin-right: 2vw;
}

.section-promotional-cards {
    width: 75%;
    background-color: black;
    height: 5vh;
}

.section-flexdisplay-padron {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    position: relative;
    width: 30%;
    background: rgb(112, 52, 235);
    background: linear-gradient(180deg, rgba(112, 52, 235, 1) 0%, rgba(39, 9, 41, 1) 100%);
    border-radius: 30px;
    transition: 300ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.cards:hover>.hid_box {
    top: 0%;
}

.hid_box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 3%;
    z-index: 1;
    transition: all 1s ease-out;
    background-color: #7034eb;
}

.hid_box>h2 {
    font-size: 2em;
    margin-bottom: 0.5vh;
    font-family: 'Jaldi', 'Courier New', Courier, monospace;
}

.hid_box>p {
    color: white;
    font-family: 'Lato';
}

.cards:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 3px rgb(170, 170, 170);
}


.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30%;
}

.text-promotionalcard {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.name-card {
    font-size: 2.0em;
    color: white;
    font-weight: bold;
    font-family: 'Jaldi', sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

.icon-promotion {
    position: relative;
}

.icon-promotion>img {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-product {
    position: relative;
    width: 28%;
    border-radius: 12px 12px 0 0;
    background-color: white;
    margin-bottom: 4%;
    border-bottom: 3px solid #7034eb;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container-product:hover .container-img>img {
    transform: scale(1.05);
}

.container-img {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-img img {
    width: 100%;
    transition: 300ms;
    height: max-content;
}

.product-description {
    width: 100%;
    text-align: center;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
}

.buttons-container {
    position: relative;
    display: flex;
}

.buttons-container div {
    width: 100%;
}

.main-div-buttons {
    border-top: 1px solid black;
    border-right: 1px solid black;
}

.ExcpBorder {
    border-right: 0 !important;
}

.text-button {
    font-family: 'Jaldi', sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    transition: 300ms;
}

.text-button span:hover {
    color: #7034eb;
    cursor: pointer;
}

footer {
    margin-top: 15.0vh;
    padding-bottom: 3.5rem;
}

.fotter-padron {
    background-color: #3a3a3a;
    width: 75%;
    margin: 0 auto;
}

.div-container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    margin: 0 auto;
}

.spanfooter {
    display: grid !important;
    grid-column: 1 / span 3;
    grid-template-columns: 1fr 1.75fr;
}

.section-fotter {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.format-title-sections-fotter {
    color: white;
    margin-bottom: 2.75vh;
    font-weight: 400;
    font-size: 24px;
}

.format-ul-footer {
    list-style-type: none;
}

.format-ul-footer>li>span {
    color: #737373;
}

.format-ul-footer li {
    margin-bottom: 3vh;
}

.container-informativo-footer {
    display: flex;
    justify-content: center;
}

.container-informativo-footer h2 {
    font-weight: bold;
    color: white;
    font-size: 1.6em;
    margin-bottom: 1.5vh;
}

.desenvolvedor-informs {
    color: white;
}

.container-informativo-footer p {
    font-size: 0.8em;
    font-weight: 400;
    color: #737373;
}

.div_from_body {
    width: 100%;
    height: 100vh;
    background-image: url('https://smene.netlify.app/Assets/banners/collage-login_page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.50);
    background-blend-mode: multiply;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_login {
    padding: 3.5rem;
    width: 35%;
    max-width: 426px;
    background-color: rgba(0, 0, 0, 0.775);
}

.title_login_h1>h1 {
    font-feature-settings: "smcp", "zero";
    -webkit-user-select: none;
    user-select: none;
    color: white;
    font-family: 'Jaldi', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: transparent;
    background: rgb(112, 52, 235);
    background: linear-gradient(120deg, rgba(112, 52, 235, 1) 0%, rgba(136, 30, 119, 1) 51%, rgb(139, 13, 148) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 1.5vh;
}

.format_div_form_login_page>form input {
    width: 100%;
    padding: .75rem;
    margin-bottom: 1.5vh;
    background-color: #3a3a3a;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 100ms;
    font-family: 'Lato';
    font-weight: bold;
    color: white;
}
.format_div_form_login_page>form input[type='email'],input[type='password']{
    text-align: start;
}

.format_div_form_login_page>form input:focus {
    caret-color: white;
    border-bottom: 2px solid #7034eb;
}

.format_remember_me {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.format_remember_me>form input {
    position: relative;
}

.format_remember_me>form input::after {
    content: 'Lembrar de mim';
    color: white;
    position: absolute;
    left: 100%;
    width: 1000%;
    margin-left: .25vw;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

.format_remember_me p {
    font-size: 12px;
    color: #747373;
}

.format_remember_me a>span {
    color: white;
    font-size: 12px;

}

.selecter_producters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstNoabstrs {
    transition: 300ms;
}

.posAbstrs {
    position: absolute;
    z-index: -1000;
    opacity: 1;
    transition: 300ms;
    transform: translate(100%, -100%);
}

.cover {
    width: 100%;
    height: 99.7%;
    position: absolute;
    background-color: #E1E1E1;
}

._abstract_body {
    animation: animateBg 10s linear infinite;
    background: linear-gradient(0deg, rgba(224, 0, 240, 1) 0%, rgba(136, 30, 119, 1) 50%, rgba(112, 52, 235, 1) 75%, rgba(224, 0, 240, 1) 100%);
    background-size: 100% 1100%;
    
    width: 100vw;
}

._sect_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 10.5vh;
}

._sect_contact>div {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

._sect_contact>div>div:nth-child(n + 1):nth-child(-n + 3) {
    width: 31%;
    padding: 3%;
    background-color: white;
    border-radius: 20px;
    border-bottom: 6px solid #7034eb;
    box-shadow: 11px -4px 38px 17px rgba(219, 17, 17, 0.33);
    -webkit-box-shadow: 11px -4px 38px 17px rgba(219, 17, 17, 0.33);
    -moz-box-shadow: 11px -4px 38px 17px rgba(219, 17, 17, 0.33);
}

._sect_contact>div>div:first-child>h2 {
    margin-bottom: 3.5vh;
    text-align: start;
}

._sect_contact>div>div:first-child>div {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2.5vh;
}

._sect_contact>div>div:first-child>div>span {
    font-size: 14px;
    color: black;
    align-self: flex-end;
    text-align: center;
    line-height: 40px;
    margin-left: 2.5vw;
}

._sect_contact>div>div:nth-child(2)>h2 {
    margin-bottom: 3.5vh;
    text-align: start;
}

._sect_contact>div>div:nth-child(2)>form {
    display: flex;
    justify-content: center;
}

._sect_contact>div>div:nth-child(2)>p {
    color: #737373;
    text-align: justify;
}

._sect_contact>div>div:nth-child(2)>form input[type='button'] {
    padding: .5rem;
    margin-top: 11.9vh;
    border-radius: 30px;
    border: 1px solid #7034eb;
    background-color: transparent;
}
._sect_contact input[type='button']{
    cursor: pointer;
    transition: 300ms;
}
._sect_contact input[type='button']:hover{
    outline: 1px solid #7034eb;
}
._sect_contact>div>div:last-child>p {
    color: #737373;
    text-align: justify;
}

._sect_contact>div>div:last-child>h2 {
    margin-bottom: 3.5vh;
    text-align: start;
}
._sect_contact textarea{
    padding: 3.5rem;
    resize: vertical;
    border-radius: 30px;
    outline: none;
    transition: none;
    background-color: transparent;
    border: 2px solid black;
    color: white;
}
._sect_contact>div>div:last-child>form {
    display: flex;
    justify-content: center;
}

._sect_contact>div>div:last-child>form input[type='button'] {
    padding: .5rem;
    margin-top: 14.7vh;
    border-radius: 30px;
    border: 1px solid #7034eb;
    background-color: transparent;
}
._sect_contact input[type='submit']:hover{
    outline: 2px white solid;
}
._sect_contact>article {
    margin-top: 11.5vh;
    color: white;
    font-weight: 100;
    width: 45%;
    margin: 0 auto;
    position: relative;
    padding: 3.5rem;
}

._sect_contact>article h1 {
    text-align: center;
    margin-bottom: 11.5vh;
    margin-top: 11.5vh;
}
._sect_contact > article > div > form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
._sect_contact > article > div > form > div > div > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
._sect_contact > article > div > form > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5vh;
}
._sect_contact > article > div > form > div > div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
._sect_contact > article > div > form > div > div:last-child input{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 30px;
    transition: 300ms;
}
._sect_contact > article > div > form > div > div:last-child input:not(:hover){
    transition: 300ms;
}
._sect_contact label{
    color: black;
    margin-bottom: 3.5vh;
}
._sect_contact input[type='text'],input[type='tel'],input[type='email']{
    padding: .5rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid black !important;
    outline: none;
    background-color: transparent;
    color: white;
}
@keyframes animateBg {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 50% 100%;
    }
}

@keyframes show {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}